<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Register Here</h4>
      </div>
      <form id="signUpForm">
      <div class="modal-body">
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">Username</label>
          <div class="col-sm-10">
            <input type="name" class="form-control" id="username" placeholder="username">
          </div>
        </div>
        <br><br>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
          </div>
        </div>
        <br><br>
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
          </div>
        </div>
        <br><br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
    </div>
  </div>
</div>


<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
      <a class="navbar-brand" href="/">The GR8 DB8</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories<span class="caret"></span></a>
          <ul class="dropdown-menu">
            {{#each categories}}
            <li class="cat-drop"><a href="#"></a>{{this}}</li>
            <li role="separator" class="divider"></li>
            {{/each}}
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-right" id="signInForm">
        <div class="form-group">
          <input type="text" placeholder="Email" class="form-control" id="email">
        </div>
        <div class="form-group">
          <input type="password" placeholder="Password" class="form-control" id="password">
        </div>
        <button type="submit" class="btn btn-success">Sign in</button>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
          Sign Up
        </button>
      </form>
    </div>
</nav>
<div class="jumbotron">
  <div class="container">
    <h1>The Great DB8</h1>
    <p>The Great DB8 is a place for people all over the world to come together and share their thoughts on admin curated topics. From sports to politics, and everything in between, we're sure you'll find interesting and engaging topics to take part in!</p>
    <p><a target= "_blank" class="btn btn-primary btn-lg" href="/about" role="button">Meet The Developers</a></p>
  </div>
</div>

<h2 id="live">Live Topics:</h2>
<div class="container">
  <div class="row post-row">
    {{#each post}}
      <div class="col-md-4 center post-blocks">
        <h3>{{this.topic}}</h3>
        <p>{{this.description}}</p>
        <p><a class="btn btn-success" href="#" role="button">Comment &raquo;</a></p>
      </div>
      <!-- <div class="col-sm-3">
      <div class="card text-center">
        <div class="card-body">
          <h4 class="card-title">{{this.topic}}</h4>
          <p class="card-text">{{this.description}}</p>
          <a href="#" class="btn btn-primary">Add Comment</a>
        </div>
      </div> -->
    {{/each}}
  </div>
</div>
<hr>

<footer class="text-center" id="footer">
  <p>&copy; 2017 The Great DB8</p>
</footer>
</div>
<!-- /container -->
